.roulette-analytics {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.roulette-analytics .stats > h1 {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ced5d5;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 64px;
}
.board {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #d5d5d5;
    overflow: hidden;
    width: fit-content;
}

