body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #ffffff;
    overflow: hidden;
}


#content {
    position: relative;
    z-index: 1;
    padding: 50px 70px;
    text-align: center;
}

#content h1 {
    margin: 8px;
    font-weight: 800;
    font-size: 2rem;
    color: #000000;
}

#content p {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

.email {
    color: #111111;
    text-decoration: underline;
}