.roulette-window {
  width: 600px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.roulette-wheel {
  position: absolute;
  top: 400px;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(var(--rotation, 0deg));

  border-radius: 50%;

  transition: transform 5.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.wheel-slot {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 67px;
  height: 80px;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 15px;
  color: white;

  transform-origin: center center;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    90% 100%,
    10% 100%
  );
}

.wheel-slot.red {
  background: #ef1e1e;
}
.wheel-slot.black {
  background: #111;
}
.wheel-slot.green {
  background: #138736;
}

.wheel-indicator {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 4px;
  height: 28px;
  background: gold;
  z-index: 10;
}
